mainmenu "Zephyr Application"

source "Kconfig.zephyr"

menu "Application Options"

config APP_HEARTBEAT_PERIOD_MS
    int "Heartbeat LED period (ms)"
    default 500
    range 100 2000
    help
      Controls the delay between heartbeat LED toggles.
      Valid values are from 100 ms to 2000 ms.

endmenu
